.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  width: 100%;
	gap: 1rem;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #39394b;
	width: 200px;
	height: 70px;
	border-radius: 1rem;
	margin-bottom: 7px;
}

@media screen and (max-width: 1024px) {
    .card {
        padding: 1rem 2rem 1rem 2rem;
        min-width: 14rem;
    }
}

h2 {
	font-size: 1.5rem;
}


.icon1 {
	background-color: #444380;
	border-radius: 50%;
	padding: 1rem;
	color: #6254ff;
}
.icon2 {
	background-color: #366c66;
	border-radius: 50%;
	padding: 1rem;
	color: #2fe6a7;
}
.icon3 {
	background-color: #74476a;
	border-radius: 50%;
	padding: 1rem;
	color: #ff69b4;
}
.icon4 {
	background-color: #444380;
	border-radius: 50%;
	padding: 1rem;
	color: #ffffff;
}
