.container {
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 100vh;
    color: rgb(0, 0, 0);
border: 1px solid green;
}
