.container {
    background-color: #39394b;
    
    min-width: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.auth-button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
    height: 40 px !important;
    box-sizing: border-box;
    margin: 0px auto;
    margin-bottom: 16px;
    display: flex;
    font-weight: bold;
    border: 1px solid rgb(193, 199, 208);
    justify-content: center;
    border-radius: 3px;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
    padding: 6px 10px 6px 10px ;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .google-button {
    background-color: #f1eceb;
    color: #172b4d;
  }

  .google-icon {
    width: 20px;
    margin-right: 5px;
    height: 20px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/2237/2237440.png);
    background-size: cover;
  }