.container {
  border: 2px solid orange;
  background-color: #222131;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
  height: 100vh;
}
.container h1 {
  margin: 30px;
}

.divEmployees {
  width: 80%;
}
.divDetail {
  width: 20%;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.lista li {
  margin: 20px 65px;
  color: #c1c1c6;
}
