.container {
  border: 2px solid orange;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  /* height: 100vh; */
}
.container h1{
margin: 60px;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.lista li{
margin: 20px 60px;
}
