.fill-none {
    fill: none;
  }
  
  .stroke-blue-600 {
    stroke: rgba(54, 162, 235, 1);
  }
  
  .stroke-green-600 {
    stroke: rgba(75, 192, 192, 1);
  }
  
  .stroke-pink-600 {
    stroke: rgba(255, 99, 132, 1);
  }