.title {
	font-weight: 600;
	color: rgb(202, 202, 202);
	font-size: 20px;
}
.buttonAdd {
	background-color: #38369e;
	color: rgb(202, 202, 202);
	border-radius: 7px;
	padding: 6px 25px;
	font-size: 13px;
}
.buttonNivel {
	background-color: rgb(202, 202, 202);
	color: #39394b;
	border-radius: 2px;
	padding: 1px 10px;
	font-size: 18px;
	margin-left: 10px;
	font-weight: 700;
}
.buttonNivelActive {
	background-color: #38369e;
	color: #39394b;
	border-radius: 2px;
	padding: 1px 10px;
	font-size: 18px;
	margin-left: 10px;
	font-weight: 700;
}

.table {
	/* border: 1px solid violet; */
	display: flex;
}

.tableHead {
	color: rgb(189, 189, 189);
	font-size: 12px;
	font-weight: 100;
	/* border: 1px solid violet; */
}

.tableRow {
	/* border: 1px solid white; */

	margin-top: 20px;
	display: grid;

	grid-template-columns: 14% 14% 14% 14% 14% 14% auto;
	/* grid-template-columns:  14% 22% 15% 20% 14% auto; */
	margin-left: 20px;
}

.tableCards {
	display: grid;
	grid-template-columns: 12.5% 14% 14% 13% 13% 13% 15% auto;

	align-items: center;
	justify-content: space-between;
	background-color: #39394b;
	font-size: 13px;
	color: rgb(204, 203, 203);
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
}

.tableCell {
	padding: 0;
}
.icon {
	color: rgb(116, 136, 201);
	font-size: 35px;
	margin-right: 5px;
}
.iconInsta {
	color: rgb(116, 136, 201);
	font-size: 20px;
	margin-right: 5px;
}
/* @media screen and (max-width: 1850px) {
	.tableRow {
		grid-template-columns: 13% 24.5% 19% 19% 17% auto;
	}
	.tableCards {
		grid-template-columns: 1% 24% 17% 19% 18% 4%;
	}
}
@media screen and (max-width: 1500px) {
	.tableRow {
		grid-template-columns: 13% 24.5% 19% 19% 15% auto;
	}
	.tableCards {
		grid-template-columns: 13% 24% 17% 19% 18% 5%;
	}
}
@media screen and (max-width: 1350px) {
	.tableRow {
		grid-template-columns: 13% 24.5% 19% 18% 15.5% auto;
	}
	.tableCards {
		grid-template-columns: 13% 24% 17% 19% 18% 5%;
	}
}
@media screen and (max-width: 1110px) {
	.tableRow {
		grid-template-columns: 12% 22% 19% 20% 16% auto;
	}
	.tableCards {
		grid-template-columns: 10% 20% 15% 20% 16% auto;
	}
} */
