.divPagination {
  background-color: #39394B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 25px 0 0px 0;
  border-radius: 15px;
  height: 40px;
  color: rgb(255, 255, 255);
}


.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  list-style: none;
  z-index: 999;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(184, 184, 184);
  margin: 3px;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}
.items:hover {
  transform: scale(1.08);
}
.currentPage {
  border: 2px solid rgb(48, 93, 241);
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
}


.items a {
  text-decoration: none;
  cursor: pointer;
font-size: 11px;
border-radius: 5px;
padding: 5px 5px 6px 5px;
  color: rgb(255, 255, 255);
}
.items a:hover {
  transform: scale(1.02);
}

