.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background-color: #222131;
    padding-left: 200px;
  }
  .leadsContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .leadsHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    padding: 10px ;
    margin: 10px 10px 10px 0;
  }
.h2{
  font-size: larger;
  color: white;
}
p{
  color: white;
  text-align: start;
}