.title {
  font-weight: 600;
  color: rgb(202, 202, 202);
  font-size: 20px;
}
.buttonAdd {
  background-color: #4f4de7;
  color: rgb(219, 219, 219);
  border-radius: 7px;
  padding: 6px 25px;
  font-size: 13px;
}

.table {
  /* border: 1px solid violet; */
  display: flex;
}

.tableHead {
  color: rgb(189, 189, 189);
  font-size: 12px;
  font-weight: 100;
  /* border: 1px solid violet; */
}

.tableRow {
  margin-top: 20px;
  display: grid;

  grid-template-columns: 27% 31% 19.7% 10% auto;
  /* grid-template-columns: repeat(5, 1fr); */
  margin-left: 50px;
}

.tableCards {
  display: grid;
  grid-template-columns: 28% 30% 20% 15% 5%;
  /* grid-template-columns: repeat(5, 1fr); */
  align-items: center;
  justify-content: space-between;
  background-color: #39394b;
  font-size: 13px;
  color: rgb(204, 203, 203);
  margin: 20px;
  padding: 13px;
  border-radius: 10px;
  height: 3.7rem;
}

.tableCell {
  padding: 0;
}

.tableBody {
  /* border: 1px solid green; */
}

.tableCards {
}
.icon {
  color: rgb(116, 136, 201);
  font-size: 23px;
  margin-right: 5px;
}

@media screen and (max-width: 1500px) {
  .tableRow {
    grid-template-columns: 27% 30% 20% 10% auto;
  }
}
